/* style.css */
.toggle-switch {
    position: fixed;
    width: 100px;
    display: inline-block;
    background-color: #f9f9f9;
  }
  
  .toggle-switch-checkbox {
    display:none;
  }
  
  .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #f00a0a;
    border-radius: 20px;
  }
  
  .toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    
    &:before, &:after {
      display: block;
      float: left;
      width: 50%;
      height: 30px;
      padding: 0;
      line-height: 30px;
      font-size: 12px;
      color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
  
    &:before {
      content: "layout";
      padding-left: 10px;
      background-color: #2FCCFF;
      color: #FFFFFF;
    }
  
    &:after {
      content: "camera";
      padding-right: 10px;
      background-color: #6178b9;
      color: #ffffff;
      text-align: right;    }
  }
  
  .toggle-switch-switch {
    
    width: 18px;
    height: 20px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 69px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
  
  }
  
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
  }
  
  .toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px; 
  }
  