* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}


body {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content";
    grid-template-columns: 67px 1fr; /* Sidebar width and main content width */
    grid-template-rows: 55px 1fr; /* Header height and main content height */
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}


.sidebar {
    grid-area: sidebar;
    position: fixed;
    width: 66px;
    height: 100%;
    background: none;
    background-color: rgb(27, 72, 75); /* Lavender */
    box-shadow: #2a745b;
    top: 0px;
    z-index: 1000;
   
    transition: all 0.3s ease;
}
.sidebar.active{

    width: 220px;
}
.profile{
    
    top:40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    min-height: 168px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}
.profile, .profile h2{
    justify-content: center;
    text-align: center;
    color:white;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 25px;
    transition: all 0.3s ease;
    position: relative;

}


.profile h2{
    opacity: 0;
    transition: all 0.3s ease;
    white-space: nowrap;

}
.sidebar.active .profile h2{
opacity:1;
}

.vehicle{
    display: flex;
    gap: 7px;
    justify-content: space-between;
    align-items: center;

}
.sidebar .profile img{
    width: 30px;
     height:30px ;
      border-radius: 50%;
       display: block;
        margin: auto; 
        cursor: pointer;
        transition: all 0.3s ease;
}
.sidebar.active .profile img {
    width: 75px;
    height:75px ;
    
}
.sidebar .menu .navigation-name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.sidebar.active .menu .navigation-name{
    opacity: 1;
    pointer-events: auto;
}

.menu ul li{
    list-style: none;
    height:50px;
    white-space: nowrap;
    position: relative;
    margin: 0 8px;
    line-height: 50px;
    border-radius: 12px;
   
}
.sidebar.active ul li .tooltip
{
    display: none;
}
.menu ul li .tooltip{
    display: block;
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%,-50%);
    height: 35px;
    width: 122px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    line-height:35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events:none;
}
.menu ul li:hover .tooltip{
    transition: all 0.5s ease;
    top:50%;
    opacity: 1;
}
.menu ul li a i{
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
    flex-wrap: nowrap;
}

.menu ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 100%;
                                                        
    border-radius: 12px;
}


.menu ul li a:hover {
    background-color: #969090b7;
}
nav ul li a:hover {
    color: hsl(0, 0%, 100%);
    
    
}

.nav-logout{
    display: flex;
    align-items: center;
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 8px;
    min-width: 50px;
    position: absolute;
    bottom: 50px;
}
.nav-logout i{
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
}
.horizontal-header {
    grid-area: header;
    display: flex;
    top: 0;
    right: 0;
    width: calc(100% - 66px);
    position: absolute;
    /* background: linear-gradient(1deg, rgb(26, 216, 111), #861b7d); */
    background-color: rgba(22, 72, 75);
    color: rgb(22, 97, 116); /* Text color */
    height: 55px;
    box-shadow: 0px 2px 13px rgb(27, 72, 75);
    align-items: center; 
    z-index: 1001;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.sidebar.active ~ .horizontal-header {
    width: calc(100% - 220px); /* Adjust based on sidebar width */
   
}
.logo-bar{
    
    margin-left:5px;
    display: flex;  
    align-items: center;

}
.logo-head img{
    width: 100%;
}
.bar{
    display: flex;
    align-items: center;
    color: white;
    line-height: 50px;
    height: 50px;
    margin: 0 8px;
    min-width: 50px;
    position: absolute;
    top:10px;
}
summary{
    line-height: 30px;
}
.bar i{
    height:50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
}
.bar:hover{
    transform: scale(1.2);
    color: #ffffff;
}
.sidebar.active .bar .i{
    left:30;
}
.login-main{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right:5px;
}
.login{
    padding:5px;
}


.login-icon{
    display: inline-block;
    font-size: 22px; 
    color: #ffffff; 
    text-decoration: none; 
    
}
.login-icon:hover
{
    color: #007bff; 
    transform: scale(1.1);
}
.notification-bell{
    display: flex;
    position: relative;
    line-height: 50px;
    color: white;
    font-size:25px;
    align-items: center;
   
}
.notification-bell::after{
content: attr(noti-count);
 width: 12px;
 position: absolute;
 top:4px;
 right: -5px;
 height: 12px;
 border-radius: 50%;
 background-color: red;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #fff;
 font-size: 13px;
 border:2px solid rgb(27, 72, 75);
 cursor: pointer;
}
.header-right{
    display: flex;
    position: absolute;
    justify-content: space-between;
    right:60px;
    width: 15%;
}
.profile-view  img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: #0a0a0a;
  }



/* Style for active items */
.menu ul li a.active {
    background-color: #262626; /* Background color for active */
    color: white; /* Text color for active */
}

/* Distinct style for active items on hover */
.menu ul li a.active:hover {
    background-color: #0a0a0a; /* Darker background for active item on hover */
    color: lime; /* Different text color for active item on hover */
}

/*------------------------------------------------------------------------------*/


  .heading {
    align-items: center;
    top: 90px;
    height: 40px;
    background-color: rgb(185, 183, 183);
    text-align: center;
}
.home-head{
    margin:2px;
    padding-left: 10px;
    font-size: larger;
    background-color: #f8f8f8;
    height:60px;
    position: sticky;
   
}

  .heading > h2 {
    text-align: center;
}
.content-area {
    margin: 2px;
    grid-area: content;
    width: calc(100vw - 67px); 
    transition: all 0.3s ease;
    height: auto;
    position: relative;
    overflow-y: hidden;
    display:flex;
    left:0;
    box-sizing: border-box;
    justify-content: space-around;
     /* Adjust padding to create space for header and home */
}
.sidebar.active ~ .content-area{
    width: calc(100% - 153px);
    transform: translateX(153px);/*(220-67)*/
    grid-column: 2;


}

.home-space{
    width:720px;
   margin-top: 20px;
   margin-left: 20px;
    display: flex;
    justify-content: space-around       ;
}
.space-available{
    display: flex;
            align-items: center;
            background-image: linear-gradient(70deg,rgba(14, 110, 78, 0.9),rgba(189, 167, 69, 0.5));
            color: #ffffff;
            border-radius: 10px;
            padding: 12px;
            box-sizing: border-box;
            box-shadow: 0 4px 19px rgba(0, 0, 0, 0.4);
            overflow: hidden;

}
.space-info {
    padding-left: 15px;
}

.space-info h3 {
    margin: 0;
    white-space: nowrap;
    font-size: 16px;
    color: #dadada;
}

.space-info ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
}

.space-info li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    margin-bottom: 5px;
}

.total-space-indicator {
    width: 10px;
    height: 10px;
    background-color: #dadada;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.available-space-indicator {
    width: 10px;
    height: 10px;
    background-color: #00ff00;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.occupied-space-indicator {
    width: 10px;
    height: 10px;
    background-color: #f71111;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
#myChart,#myChart2{
    width: 100px;
   height: 100px;;
}
.space-occupied{
    display: flex;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
   box-sizing: border-box;
   overflow: hidden;
    background-image: linear-gradient(70deg,rgba(16, 80, 59, 0.9),rgba(71, 69, 189, 0.5));
    
}
.home-space img{
    width: 70px;
    height: 60px;

}
.above-parking-layout {
    grid-area: content; /* Position within the grid layout */
    position: relative;
    width: 100%;
    height: calc(100vh - 55px); /* Adjusted to account for header height */
    display: flex;  
    flex-direction: column;
    background-color: rgb(228, 229, 230);
   overflow-y: auto;
   padding-bottom: 40px;
   padding:5px;
   
 }

 .layout-live{
    max-width: 1000px;
    position: relative;
    left:100px;
 }
 .toggle-layout{
    position: absolute;
    top: 2px;
    left: 7px;
    z-index: 700;
    margin-bottom: 30px;
 }

.parking-layout 
{
        position: relative;
        max-width:1000px;
        height: 600px;
        background-color: rgb(97, 118, 139);
        border: 1px solid rgb(22, 22, 22); /* Ensure the border is applied */
        overflow-y:auto;
        margin: 25px auto auto auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.267); /* Add a shadow effect */
        border-radius: 10px;
        
}

    



.car-svg {
    position: absolute;
    width: 45px; /* Adjust based on your SVG size */
    height: auto;
    transition: transform 0.3s ease; /* Optional: for a nice hover effect */
    transform: rotate(90deg);
    z-index: 2;
    background-image: transparent;
}



/* Other CSS rules remain unchanged */


.area-number {
    position: absolute;
    color: rgb(0, 0, 0);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 1em;
    text-align: center;
    margin-top: 13px;
    white-space: nowrap;
}
.car-svg:hover {
    transform: scale(1.1) rotate(90deg); 
    
}

/* --------------------------------------toggle button---------------------*/




.view-toggle {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.view-toggle:hover {
    background-color: #0056b3;
}
.area-set{
    position:absolute;
    display:block;
    height: fit-content;
    width:100%;
}
#live{position: relative;
    max-width:990px;
    height: 600px;
    background-color: rgb(97, 118, 139);
    border: 1px solid rgb(22, 22, 22); /* Ensure the border is applied */
    margin: 25px auto auto auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    border-radius: 10px;
    overflow: hidden;

}
.video-feed {
    width: 100%;
     height: 100%;
} 


.entry2{
    grid-area: content;
    padding:2px;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #faf8ff;

}


/* styles.css */

/*________________________________________________ after login profile setting dropdown -------------------------------------------------------------------*/


  .profile-view {
    font-size: 14px;
  }
  #dropdown-profile,#profileImg{
    display:flex;
   align-items: center;
   padding: 5px;
   cursor: pointer;
   margin-right: 5px;
  }
  #profileImg:hover{
  transform: scale(1.1);
  }
  #dropdown-profile h5{
    margin-left: 10px;
  }

  .profile-container{
    position: relative;
  display: inline-block;
  z-index: 1200;
   
}

.profile-img {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-img img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: #0a0a0a;
}

.profile-name {
  margin-left: 7px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 41px; 
  right: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.164);
  z-index: 1002;
  width: 150px;
  border-radius: 10px;
  
}


.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
.toggle-layout{
    display: flex;
    max-width: 120px;
}
.toggle-layout label{
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    position: relative;
    display: block;
    background: #f1ebeb;
    border-radius: 35px;  
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.363);
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease;

}
.toggle-layout .slider{
    width:30px ;
    height: 30px;
    border-radius: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    background-color: #00d9ffad;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.34);
    top: 50%;
    left: 0%;
    overflow: hidden;
    transform: translate(10%,-50%);
    border:1px solid #000000b4;
    transition: all 0.3s ease;
}
.toggle-layout input{
    width: 0;   
    height: 0;
    visibility: hidden;
}
.toggle-layout input:checked + label .slider{
    left: 100%;
    transform: translate(-110%,-50%); 
    background-color: #ddd;
    box-shadow:-1px 0px 16px #dddddd81;

}
.toggle-layout label:active .slider{
    width:45px;
}
.toggle-layout input:checked + label {
    background:linear-gradient(rgb(218, 253, 217),rgb(69, 69, 71));
}
.toggle-layout input:checked + label .slider .cctv{
    opacity: 0;
 margin-top: 80px;
}
.toggle-layout input:checked + label .slider .layoutt{
    margin-top: 0%;
    opacity: 1;
}

.toggle-layout label img{
   max-width: 27px;
    height: 27px;
    position: absolute;  
    
    
}
.toggle-layout label .cctv{ 
    margin-top: 0%;
    opacity: 1;
    transition: all 0.3s ease
}
.toggle-layout label .layoutt{
    margin-top: -60px; 
    opacity: 0; 
    transition: all 0.3s ease
}
#video-stream{
    width: 80%;
    height:auto;
}