*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Helvetica", "Raleway", "Poppins", "Neue" ,sans-serif;
}
.full{
    height: 100vh;
    background: url(/frontend/static/toogle-icon/background-park.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
@media (min-width: 300px) {
nav{
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(6px);
    border: 1px ridge rgba(255, 255, 255, 0.5);
    box-shadow: 3px 0px 7px rgba(0, 0, 0, 0.7);
}
}
.logo-menu{
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    justify-content: space-between;
}
.header-top-bef ul{
    list-style: none;
    display: flex; 
    align-items: center;
    margin-left:7rem ; 
}
.header-top-bef ul li{
    
    margin: 0 15px;
    color: aliceblue;
    line-height: 30px;
    
}
.header-top-bef ul li:hover  {
    border-bottom: 2px  double rgb(255, 0, 0);
    
    transition: all 0.9s ease-in-out;
}
.header-top-bef ul li a{
    text-decoration: none !important;
    color:bisque;
    white-space:nowrap;
    }
.logo-top-head{
    max-width: 130px !important;
    max-height: 50px !important;
}
    .header-top-bef .logo-top-head img{
        width: 100%;
        height: 100%;
    }

.login-top i{
    margin: 0px 90px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-shadow: 0px 0px 9px black;
}    
